@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-200;
  }
  
  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }
  
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
